@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

.App {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right top, #f41f69, #f44f79, #f36d89, #f08799, #eb9faa);
  color: #444;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
}