.GroceryItem,
.GroceryItem-output {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    max-height: 100%;
    margin: 5px;
    word-break: break-all;
}

.GroceryItem-output {
    width: 100%;
}

.GroceryItem-item,
.GroceryItem-qty {
    padding: 2px 5px;
    color: #f41f69;
    font-size: 20px;
    min-width: 250px;
    max-width: 40%;
}

.GroceryItem-btn {
    padding: 11px;
    margin: 2px;
    border: none;
    background: #f41f69;
    color: #f5f5f5;
    cursor: pointer;
    transition: background 0.4s ease-out;
    outline: none;
    font-size: 20px;
}
.GroceryItem.delete-grocery {
    transform: translateY(150px) rotate(-10deg);
    opacity: 0;
    transition: all 1.5s ease-in-out;
}
